h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.comment
{
    width:70%;
    margin:auto;
}

body {
    padding-top: 5rem;
    width: 100%;
}

a:hover
{
    color: red;
}

img.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto
}
p#textzozor {
    text-align: center;
}

.separation {
    background: transparent url(../img/bg1.jpg) no-repeat top center;
    height: 8em;
}
.separation hr {
    display: none;
}

td {
    text-align: center;
}

th {
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    tr, td {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    tr {
        border: solid;
    }

    th {
        display: none;
    }
} 